/* CSS RESET */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
}

/* GENERAL STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR STYLES */
nav {
    position: relative;
    z-index: 9999;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);  
    background: linear-gradient(to right, #004e92, #000428);
    width: 100%;
}

nav .logo {
    line-height: 80px;
    display: inline-block;
}

nav ul {
    display: inline-block;
    float: right;
    padding-right: 20px;
    margin: 0;
    
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none !important;
    outline: none !important;
}

nav ul li a.active,
nav ul li a:hover {
    background: none;
    background: linear-gradient(to right, #0d47a1, #a5d6a7);
    color: #fff;
    transition: .5s;
}

nav .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
    #carousel{
        height: 15em;
    }
}

@media (max-width: 858px) {
    nav .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 65vh;
        left: -100%;
        top: 80px;
        transition: all .5s;
        text-align: center;
        background: #000428;
        background: -webkit-linear-gradient(to right, #004e92, #000428);  
        background: linear-gradient(to right, #004e92, #000428);
    }
    nav ul li {
        
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        
        font-size: 20px;
        border-bottom: 2px solid #fff;
    }
    nav ul li a:hover,
    nav ul li a.active {
        background: none;
        background: linear-gradient(to right, #0d47a1, #a5d6a7);
        color: #fff;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* ADDED LOGO STYLES */
nav .logo img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    width: 60px;
    max-width: 100%;
    height: auto;
}



/*AQUI COMIENZA EL CARRUSEL*/
#carousel{
    position: relative;
    bottom: 8px;
}
.carousel {
    position: relative;
    width: 100%;
    height: 35em;
    min-height: 400px;
    bottom: 8px;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: 0.3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #FAEBD7;
    border-color: #FAEBD7;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }

}


@media (max-width: 575.98px) {
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
