 body {
    margin: 0;
    font-family: "Euclid Circular A", "Poppins";
    color: #f7f7f7;
  }
  
/*MENU DE NAVEGACION*/

 .navbar .navbar-nav .nav-link {
    color: #4b3bd6;
    font-size: 1.1em;
 }

 .navbar .navbar-nav .nav-link:hover {
    background: linear-gradient(143.28deg, #c9ffe6 18.75%, #e6c294 100%);
    backdrop-filter: blur(10px);
    border-radius: 18px;
 }

 .navbar-collapse {
    font-size: 20px;
 }

 .sm-icons {
    flex-direction: row;
 }

 /*CONFIGURACION DE MENU RESPONSIVO
  REPONSIVE
  todas las caracteristicas que se mostraran a continuancion seran cuando tenga un ancho maximo de 767px */

 @media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
 }


 /*AJUSTE EL TAMAÑO DEL LOGO*/

 .logobom {
    width: 58px;
    height: 65.62px;
    display: block;
    margin: auto;
    padding: 1px;
 }

  /*INICIO DE FOOTER*/
  section {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background: #eeeded;
  }
  
  footer {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 30px;
    padding: 5%;
  }
  
  footer {
    color: #49525d;
  }
  
  footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
    
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }

  .links a:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
    border-radius: 40%;
    padding: 0 2px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }

  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  /*TERMINO DE FOOTER*/